/***********************************************************************
 * Created by PhpStorm.
 * User: jpeconi
 * Date: 2016-10-06
 * Time: 9:15 PM
 * Internet Programming II
 * Assignment 2 - Login Comments Page
 *
 * This page contains the styles for the majority of the site. I have
 * broken up the styles for the register page on a stylesheet of its own.
 * In retrospect, I should have broken up more of the pages for ease of
 * use. These are the custom styles that add onto the bootstrap.
 ************************************************************************/

body, html {
    height: 100%;
    background-repeat: no-repeat;

}

.red {
    color: red;
}

.thumbnail {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 30px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
}

#userDisplay {
    font-size: 30px;
    color: #7bd1ff;
    display: inline;
}

.heading {
    height:110px;
    width: 100%;
}

#loggedInMessage {
    margin-bottom: 0;
    display: inline;
}

#commentBox {
    margin: auto;
    width:70%;
    height: 350px;
    border-radius: 15px;
    background-color: #97c7dc;
}
#topBoxComment {
    padding-top: 5px;
    padding-left: 15px;

}
#commentArea {
    border-radius: 5px;
    margin-left: 25px;
    width: 75%;
}

.left {
    float: left;
}

.subButton {
    margin-bottom: 5px;
    width: 130px;
    display: block;
    margin-left: 50%;
    margin-top: 0;
}


#comment {
    margin-top: 10%;
    border: 1px solid black;
    height: 200px;
}

#commentPhoto {
    height: 90px;
    width: 70px;
    border-radius:50%;
    box-shadow: -12px 7px 5px -8px rgba(52,105,140,1);
    padding-top: 10px;
    float: left;
    margin-right: 20px;
}

#commentDate {
    margin-bottom: 0;
}

#commentUser {
    padding-top: 10px;
    margin-bottom: 0;
}

#commentContent {
    width: 80%;
    height: 200px;
    border: 1px solid red;
    float: right;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: bold;
    height: 36px;
    user-select: none;
    cursor: default;
}


.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}


.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.btn.btn-signin {
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
    transition: all 0.300s;
}

.register-link {
    color: rgb(83, 162, 158);
}

.panel-heading {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    background-color: #F5F5F5;
    height: 50px;
}

.panel {
    border: 1px solid #d3dcd6;
    min-height: 110px;
    padding: 2px;
    border-radius: 8px;
}

.panel-body {
    padding-left: 7px;
}

.commentHeadline {
    padding-left: 24%;
    padding-top: 3%;
}

.commentThumb {
    padding: 0;
    height: 70px;

}

.commentDivider {
    width: 70%;
}

.commentThumbnail {
    border-radius: 20%;
}

.eachComment {
    margin-bottom: 30px;
}

.white {
    color: white;
    font-weight: bolder;
}

#logout {
    float: right;
    padding-right: 2%;
}

.logo {
    height: 100px;
    margin-left: 16%;
    display: inline;
}

.editButton {
    margin-left: 9%;
    display: inline;
    float: right;
}

.deleteButton {
    margin-left: 10%;
    display: inline;
    float: right;
}
