/***********************************************************************
 * Created by PhpStorm.
 * User: Jamison Peconi
 * Date: 2016-10-06
 * Time: 9:15 PM
 * Internet Programming II
 * Assignment 2 - Login Comments Page
 *
 * This is the stylesheet for the register page. This page contains the
 * styles that make up the form. I decided to go with separate sheets as
 * oppose to one big one. Ease of organizing.
 ************************************************************************/
form {
    margin: 0 10px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

#regContainer {
    max-width: 360px;
}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0;
    width: 35%;
}

.red {
    color: red;
}

#message {
    margin-top: 200px;
}